/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		white;
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
/* 	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform .page input, #msform .page textarea, #msform .page select {
  width: 33%;
}
#msform .page2 input, #msform .page2 textarea, #msform .page2 select {
  width: 24%;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
#msform input:focus{
/*   border: 2px solid red; */
/*   box-shadow: 0 0 15px 1px rgba(65, 100, 52, 0.4); */
}
/*headings*/
.fs-title {
	font-size: 26px;
/* 	text-transform: uppercase; */
	color: #2C3E50;
	margin-bottom: 10px;
  text-align:left;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
  text-align:left;
}
.fs-minisubtitle {
	font-weight: normal;
	font-size: 10px;
	color: #666;
	margin-bottom: 20px;
  text-align:left;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #B4B4B4;
	text-transform: uppercase;
	font-size: 9px;
	width: 11.11%;
	float: left;
	position: relative;
}
#progressbar li.active{
  color:#000;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 16px;
	color: #333;
	background: white;
	border-radius: 25px;
  border: 1px solid #efefef;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #EFEFEF;
	position: absolute;
	left: -50%;
	top: 20px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
  	background: #27AE60;
	color: white;
  border: 0px solid #000;
/*   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); */
}
#progressbar li.active:after{
	background: #27AE60;
	color: white;
  border: 0px solid #000;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media (max-width: 800px) {

	#progressbar li {
	font-size: 7px;
}
#progressbar li:before {
	font-size: 10px;
	width: 20px;
	line-height: 20px;
}
#progressbar li:after {
	width: 100%;
	height: 2px;
	left: -50%;
	top: 10px;
}

  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  #msform .page input, #msform .page textarea, #msform .page select {
  width: 100%;
}
    #msform .page2 input, #msform .page2 textarea, #msform .page2 select {
  width: 100%;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
/* 	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	
	/*stacking fieldsets above each other*/
	position: relative;

}
#msform fieldset .unique{
	width: 100% !important;
	}
}

select{
	width:100%;
    font-size:20px;
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: montserrat, arial, verdana;
    color: #2C3E50;
	font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
}
#mar5{
  margin-right:4px;
}
#mar6{
  margin-right:4px;
}


.add_members_D1 {
  width: 28px;
  height: 28px;
  margin: 2%;
  background: #27AE60;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: 0.6s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.add_members_D1:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: white;
}

.add_members_D1:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background: white;
}

.add_members_D1.clicked {
  transform: translate(-50%, -50%) rotate(360deg);
  background: #27AE60;
}

.add_members_D1.clicked:before {
  width: 0;
}
